{% extends 'ads/layout.html' %}

{% block title %} Рдеактировать профиль {% endblock %}

{% block content %}
<div class="auth-info-divs">
<div class="account-inner-page">
<form action="." method="POST">
<span class="user-id-dashboard">Имя:</span>
{{ form.first_name }}<br>
<span class="user-id-dashboard">Фамилия:</span>
{{ form.last_name }}<br>
<span class="user-id-dashboard">Почта:</span>
{{ form.email }}<br>
<input type="submit" class="btn btn-success" value="Сохранить" onclick="alert('Данные сохранены успешно')">
{% csrf_token %}
</form>
</div>
</div>
{% endblock %}